# eclipse
/bin/
/*.launch
/.settings/
/.metadata/
/.classpath
/.project

# idea
/out/
/*.ipr
/*.iws
/*.iml
/.idea/

# gradle
/build/
/.gradle/

# forge run directories
/run/
/runs/
/run-data/

# other
/eclipse/

# repo (←これは多分不要)
